.gitignore
.vscode/**
.vscode-test/**
node_modules/**
!node_modules/@silvia-odwyer/
!node_modules/@silvia-odwyer/photon-node/
!node_modules/@silvia-odwyer/photon-node/**
src/**
*.vsix
tsconfig.json
package-lock.json
media/opencodego.svg
