.gitignore
.github/**
.husky/**
.markdownlint-cli2.jsonc
.prettierrc.json
.vscode/**
.vscode-test/**
docs/**/*.md
eslint.config.js
node_modules/**
!node_modules/@silvia-odwyer/
!node_modules/@silvia-odwyer/photon-node/
!node_modules/@silvia-odwyer/photon-node/LICENSE.md
!node_modules/@silvia-odwyer/photon-node/package.json
!node_modules/@silvia-odwyer/photon-node/*.js
!node_modules/@silvia-odwyer/photon-node/*.wasm
out/**/*.js.map
out/autocomplete/**
out/test/**
scripts/**
src/**
*.vsix
tsconfig.json
package-lock.json
media/opencodego.svg
tmp/**
